@model IEnumerable<CRUD_Basic.StudentData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Student Fees
                </th>
                <th>
                    Student Home City
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentFees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentHomeCity)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.StudentId })" class="btn btn-info">Edit</a>
                        <a href="@Url.Action("Details", new { id = item.StudentId })" class="btn btn-secondary">Details</a>
                        <a href="@Url.Action("Delete", new { id = item.StudentId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
